:root {
  --bg-color-dark: #282c34;
  --text-color-light: #ffffff;
  --link-color: #61dafb;
  --divider-color: #84520d;
  /* Add more variables as needed */
}

//TODO: integrate this throughout the app more